
    ul{
        li{
            margin: 10px;
            line-height: 40px;
            background-color: #E5E5E5;
            cursor: pointer;
            padding: 0px 10px;
            list-style-type: none;
        }
        li:hover{
            background-color: #F00;
            color: #FFF;
        }
    }
