.login__main__contianer{
    background: rgb(10,144,240);
    background: linear-gradient(90deg, rgba(10,144,240,1) 41%, rgba(255,0,213,0.5760898109243697) 89%);
 
}

.login__continaer{
    width: calc(100% - 300px);
    height: calc(100% - 200px);
    background-color: rgba(255,255,255, 0.3);
}


