.main__login__container{
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
}
.login__container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}