<!-- 
<button (click)="showBox()"> Show</button>
<button (click)="hideBox()"> Hide </button> -->

<!-- <button (click)="showBox1()"> Show/Hide </button> 

{{boxStaus}}

<div class="box" *ngIf="boxStaus else otherBox" ></div>

<ng-template #otherBox>
    <div class="green"></div>
</ng-template> -->



<!-- <div class="" *ngFor="let item of userList">
    <app-user-list [userInformation]="item"></app-user-list>
</div> -->


<button (click)="showSwitchBox('red')"> Show Red Box</button>
<button (click)="showSwitchBox('green')"> Show Gree Box</button>
<button (click)="showSwitchBox('blue')"> Show Blue Box</button>

{{selectedTargetBox}}
<div class="box red" *ngIf="selectedTargetBox == 'red'"></div>
<div class="box green" *ngIf="selectedTargetBox == 'green'"></div>
<div class="box blue" *ngIf="selectedTargetBox == 'blue'"></div>



<div class="" [ngSwitch]="selectedTargetBox">
    <div class="box red" *ngSwitchCase="'red'"></div>
    <div class="box green" *ngSwitchCase="'green'"></div>
    <div class="box blue" *ngSwitchCase="'blue'"></div>
    <div class="box black" *ngSwitchDefault="'black'"></div>
</div>