<!-- <section>   
    <header>
        <nav>
            <ul>
                <li [routerLink]="'home'" [routerLinkActive]="'active__route'"> Home</li>
                <li [routerLink]="'about-us'" [routerLinkActive]="'active__route'"> About Us</li>
                <li> Contact us</li>
                <li> Feedback</li>
                <li [routerLink]="'product'" [routerLinkActive]="'active__route'"> Product</li>
                <li [routerLink]="'login'" [routerLinkActive]="'active__route'"> Login</li>
            </ul>
        </nav>
    </header>
    <section class="work_space">
        <router-outlet></router-outlet>
    </section>
</section> -->

<button type="button" class="btn btn-primary">Base class</button>